
@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS12 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS12-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS12-ExtendedHeavyItalic.ttf') format('truetype');
}
